/* @tailwind base;
@tailwind components;
@tailwind utilities; */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none !important;
  color: inherit !important;
}

.btn_del {
  background-color: red;
  height: 20px;
  width: 30px;
  border: none;
  outline: none;
  color: white;
  cursor: pointer;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.MuiTreeItem-content.Mui-selected {
  background-color: transparent !important;
}

.img_banner {
  width: 100%;
  opacity: 0.7;
  height: 700px;
  @media (max-width: 1024px) {
    height: auto;
  }
}

.card {
  display: block;
  position: relative;
  top: 0;
  bottom: 0;

  .product {
    display: none;
    background-color: white;
    position: absolute;
    width: 100%;
    top: 20px;
    bottom: 0;
    padding: 10px;
  }

  &:hover {
    .product {
      display: block;
      top: 100px;
    }
  }
}
